<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TABERNACLE OF PSALMS</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
		<link rel="manifest" href="/static/favicon_io/site.webmanifest">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<style rel="stylesheet" href="/static/style3.css"></style>
		<script src="/static/script3.js"></script>
		<style>
		  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

			*{
				padding: 0;
				box-sizing: border-box;
				font-family: 'Poppins';
			}
			main{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				/* margin: auto; */
			}
			header a{
				padding: 24px;
				padding-top: 2px;
			}
			h1,h2{
				text-align: center;
				text-decoration: underline;
				font-size: 2rem;
				color: #333;
			}
			.table1, .table2{
				margin: 2px;
				padding: 24px;	
			}
			.table{
				width: 100%;
				border-collapse: collapse;
			}
			.table th, .table td{
				padding: 12px 5px;
				border: 1px solid #ddd;
				text-align: center;
				/* font-size: 18px; */
			}
			.table td{
				font-size: 12px;
			}
			.table th{
				background-color: #333;
				color: #ffffff;
				font-size: 16px;
				font-weight: 200;
			}
			.table tbody tr:nth-child(even){
				background-color: #f5f5f5;
			}

			@media (max-width: 830px) {
			.table thead{
				display: none;
			}
			.table, .table tbody, .table tr, .table td{
				display: block;
				width: 100%;
			}
			.table tr{
				margin-bottom: 15px;
			}
			.table td{
				text-align: left;
				position: relative;
			}
			.table td::before{
				content: attr(data-label);
				width: 100%;
				text-align: left;
				font-weight: bold;
			}
			}
			@media (max-width: 500px) {
			.table td{
				font-size: 11px;
			}
			}
			.button{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 20px;
			}
			.button button{
				height: 40px;
				width: 90px;
				margin: 0 4px;
				outline: none;
				border: 2px #aaa solid;
				border-radius: 10px;
				background-color: transparent;
				font-weight: 700;
				transition: all 0.4s ease;
				font-size: 12px;
				cursor: pointer;
			}
			.button button:hover{
				background-color: rgb(186, 184, 184);
				border: none;
				color: #fff;
			}
		</style>
		<script type="text/javascript">
			function printSection(el){
				var getFullContent = document.body.innerHTML;
				var printsection = document.getElementById(el).innerHTML;
				document.body.innerHTML = printsection;
				window.print();
				document.body.innerHTML = getFullContent;
			}
		</script>
	</head>
	<body>
		<div id="printDateTime"></div>		
		<header>
			<a href="/Admin">Home</a>
		</header>
		<main>
			<h1>Tabernacle of Psalms</h1>
		<div class="table1">
			<table id="table1" class="table">
				<tr>
					<thead>
						<th>Name</th>
						<th>MATRIC NO/REG NO</th>
						<th>Instagram Username</th>
						<th>School Mail</th>
						<th>Phone Number</th>
						<th>Room No</th>
						<th>Date of Birth</th>
						<th>Sub Unit</th>
						<th>Part</th>
						<!-- <th>level</th> -->
					</thead>
				</tr>
				<% top.forEach(element=> { %>
					<tbody>
						<tr>
							<td data-lable="Name">
								<%= element.firstname %> <%= element.middlename %> <%= element.lastname %>
							</td>
							<td data-lable="Matric Number">
								<%= element.matricno %>
							</td>
							<td data-lable="IG handle">
								<%= element.instagramID %>
							</td>
							<td data-lable="School mail">
								<%= element.email %>
							</td>
							<td data-lable="Phone">
								<%= element.phonenumber %>
							</td>
							<td data-lable="Room no">
								<%= element.roomno %>
							</td>
							<td data-lable="DOB">
								<%= element.dob %>
							</td>
							<td data-lable="Subunit">
								<%= element.subunit %>
							</td>
							<td data-lable="name">
								<%= element.part %>
							</td>
							<!-- <td data-lable="Level">
								<%= element.level %>
							</td> -->
						</tr>
					</tbody>
						<% }) %>
	
			</table>
			<div class="button">
				<button onclick="printSection('table1')">Print</button>
			</div>
		</div>

		<h2>House of David</h2>
		<div class="table2">
			<table id="table2" class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>MATRIC NO/REG NO</th>
						<th>School Mail</th>
						<th>Phone Number</th>
						<th>Room No</th>
						<th>Date of Birth</th>
						<th>Sub Unit</th>
						<th>Instrument</th>
					</tr>
				</thead>
				<% hod.forEach(element=> { %>
					<tbody>
						<tr>
							<td data-label="Name: ">
								<%= element.firstname %> <%= element.middlename %> <%= element.lastname %>
							</td>
							<td data-label="Matric Number: ">
								<%= element.matricno %>
							</td>
							<td data-label="School Mail: ">
								<%= element.email %>
							</td>
							<td data-label="Phone Number: ">
								<%= element.phonenumber %>
							</td>
							<td data-label="Room Number: ">
								<%= element.roomno %>
							</td>
							<td data-label="DOB: ">
								<%= element.dob %>
							</td>
							<td data-label="Subunit: ">
								<%= element.subunit %>
							</td>
							<td data-label="Instrument: ">
								<%= element.part %>
							</td>
							<!-- <td>
								<%= element.level %>
							</td> -->
						</tr>
					</tbody>
					<% }) %>
			</table>
			<div class="button">
				<button onclick="printSection('table2')">Print</button>
			</div>
		</div>
		</main>
	</body>
</html>
